* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.wallstreetenglish.cl/hs-fs/hubfs/smm-post/blog-posts/10-exoresiones-de-negocios-en-ingles.jpeg?width=1206&name=10-exoresiones-de-negocios-en-ingles.jpeg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

header {
    background-color: rgba(119, 119, 119, 0.7);
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #ffffff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-buttons button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.auth-buttons button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.solicitudes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Ajusta el número de columnas */
    gap: 20px;
    width: 100%;
}

.solicitud {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.solicitud:hover {
    transform: scale(1.05);
}

.rating {
    margin: 10px 0;
    color: #ffd700; /* Color dorado para las estrellas */
}

.aplicar-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.aplicar-button:hover {
    background-color: #444444;
    transform: scale(1.05);
}

.añadir-solicitud {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.añadir-solicitud:hover {
    background-color: #444444;
    transform: scale(1.05);
}

footer {
    text-align: center;
    margin: 20px 0;
}

.pagination a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 5px;
}
